
@{
    ViewBag.Title = "BitmisIslerim";
}

@using IsTakip.Models;
@model List<IsTakipMaster>


<div class="col-lg-12">
    <div class="panel">
        <div class="panel-body" style="overflow-x:auto">
            <div id="unseen">
                <table width="100%" class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="numeric">İş Takip No</th>
                            <th class="numeric">Tarih</th>
                            <th>Açıklama</th>
                            <th class="numeric">İşi Veren</th>
                            <th class="numeric">Öncelik</th>
                            <th class="numeric">Kategori</th>
                            <th class="numeric">Tamamlanma Yüzdesi</th>
                            <th class="numeric">Termin</th>
                            <th>Yapılanı Gör</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (IsTakipMaster ITM in Model)
                        {
                            <tr>
                                <td class="numeric">@ITM.id</td>
                                <td class="numeric">@ITM.KayitTarih</td>
                                <td>@ITM.Aciklama</td>
                                <td class="numeric">@ITM.Kullanicilar.KullaniciAdi</td>
                                <td class="numeric">@ITM.IsTakipOncelik.OncelikAdi</td>
                                <td class="numeric">@ITM.IsTakipKategori.KategoriAdi</td>
                                <td class="numeric">@ITM.TamamlanmaYuzdesi</td>
                                <td class="numeric">@ITM.Termin</td>
                                <td><a href="/Kullanici/VerdigimYapılanlar/@ITM.id" class="btn btn-success" style="margin-top:6px;">Yapılanı Gör</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

